<nav class="navbar navbar-default" [hidden]="!showMenu">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li routerLinkActive="active"><a routerLink="board">Affichage</a></li>
      <li routerLinkActive="active"><a routerLink="guest">Invité</a></li>
      <li routerLinkActive="active"><a routerLink="table">Table</a></li>
    </ul>
    <div class="navbar-right">
      <p>Hello !</p>
      <a [href]="downloadJsonHref" download="data.json">Télécharger les données</a>
      <button (click)="toggleMenu()">Hide</button>
    </div>
  </div>
</nav>
<div>
  <router-outlet></router-outlet>
</div>
