<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div class="form-group">
          <label for="name" class="input-label">
            Nom du passager
          </label>
          <input type="text" name="name" id="name" class="form-control" ngModel required>
        </div>
        <div class="form-group">
          <label for="flight" class="input-label">
            Embarque sur le vol
          </label>
          <select name="flight" id="flight" class="form-control" >
            <option value="item.name" *ngFor="let item of flights">{{ item.name }}</option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="f.invalid">Enregistrer</button>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2" *ngFor="let item of passengers">
      <span class="col-1 col-sm-offset-2" style="color: wheat">{{ item.name }}</span>
      <span class="col-2 col-sm-offset-4" style="color: wheat">{{ item.flightId }}</span>
      <button type="button" class="btn btn-danger">Supprimer</button>
    </div>
  </div>